import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/data_행정동unit/bikelength_행정동.csv'

dfbike=pd.read_csv(file_path)
print(dfbike)
print(dfbike.Sum_LENGTH.describe())
display(dfbike)

In [3]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/data_행정동unit/dem_행정동.csv'
dfDEM=pd.read_csv(file_path)
print(dfDEM)

    ADM_DR_NM  Cnt_ADM_DR  Ave_GRID_C
0         NaN        9397    128.2047
1        가락1동         173     15.5247
2        가락2동         115     39.3115
3        가락본동         125     30.7845
4        가리봉동          54     21.8088
..        ...         ...         ...
419       효창동          55     39.3094
420       후암동         108    110.1838
421      휘경1동          64     15.7920
422      휘경2동         141     18.4596
423       흑석동         212     32.6523

[424 rows x 3 columns]

In [4]:
def minus(n):
    return -n

dfDEM['Ave_GRID_C']=dfDEM['Ave_GRID_C'].apply(minus)
print(dfDEM)
print(dfDEM.Ave_GRID_C.describe())

    ADM_DR_NM  Cnt_ADM_DR  Ave_GRID_C
0         NaN        9397   -128.2047
1        가락1동         173    -15.5247
2        가락2동         115    -39.3115
3        가락본동         125    -30.7845
4        가리봉동          54    -21.8088
..        ...         ...         ...
419       효창동          55    -39.3094
420       후암동         108   -110.1838
421      휘경1동          64    -15.7920
422      휘경2동         141    -18.4596
423       흑석동         212    -32.6523

[424 rows x 3 columns]
count    424.000000
mean     -42.332928
std       39.631377
min     -282.842600
25%      -51.818300
50%      -29.436100
75%      -18.100400
max       -6.392800
Name: Ave_GRID_C, dtype: float64

In [5]:
'''[ 정규화(normalization)]는 다음과 같은 공식을 사용해서 특성 값의 범위를 [0, 1]로 옮긴다.
식 : (측정값 - 최소값) / (최대값 - 최소값)
[표준화(Standardization)]는 데이터를 0을 중심으로 양쪽으로 데이터를 분포시키는 방법이다.
표준화를 하면 각 데이터이 평균을 기준으로 얼마나 떨여져 있는지를 나타내는 값으로 변환된다.
식(Z-score 표준화) : (측정값 - 평균) / 표준편차'''
#Normalization
def normal(n):
    return (n-min)/(max-min)
#Standardization
def standard(n):
    return (n-avg)/stand + 1 ###1 더해도 될까???

In [6]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/data_행정동unit/생산인구_행정동.csv'

dfval=pd.read_csv(file_path)
print(dfval)
print(dfval.Sum_val.describe())

    ADM_DR_NM  Cnt_ADM_DR  Sum_val
0         NaN        1347  16633.0
1        가락1동         120  22381.0
2        가락2동          83  18686.0
3        가락본동         111  25532.0
4        가리봉동          47   7566.0
..        ...         ...      ...
419       효창동          66   9982.0
420       후암동          90  10701.0
421      휘경1동          68  12058.0
422      휘경2동         129  17543.0
423       흑석동         168  19199.0

[424 rows x 3 columns]
count      424.000000
mean     16644.573113
std       7113.357086
min        291.000000
25%      11534.250000
50%      16189.000000
75%      21337.500000
max      40166.000000
Name: Sum_val, dtype: float64

In [31]:
#세가지 csv merge
merge_outer=pd.merge(dfval,dfDEM,how='outer',on='ADM_DR_NM')
print(merge_outer)
merge_three=pd.merge(merge_outer,dfbike,how='outer',on='ADM_DR_NM')
display(merge_three)

    ADM_DR_NM  Cnt_ADM_DR_x  Sum_val  Cnt_ADM_DR_y  Ave_GRID_C
0         NaN          1347  16633.0          9397   -128.2047
1        가락1동           120  22381.0           173    -15.5247
2        가락2동            83  18686.0           115    -39.3115
3        가락본동           111  25532.0           125    -30.7845
4        가리봉동            47   7566.0            54    -21.8088
..        ...           ...      ...           ...         ...
419       효창동            66   9982.0            55    -39.3094
420       후암동            90  10701.0           108   -110.1838
421      휘경1동            68  12058.0            64    -15.7920
422      휘경2동           129  17543.0           141    -18.4596
423       흑석동           168  19199.0           212    -32.6523

[424 rows x 5 columns]

,ADM_DR_NM,Cnt_ADM_DR_x,Sum_val,Cnt_ADM_DR_y,Ave_GRID_C,Cnt_ADM_DR,Sum_LENGTH
0,NaN,1347,16633.0,9397,-128.2047,NaN,NaN
1,가락1동,120,22381.0,173,-15.5247,74.0,7150.0
2,가락2동,83,18686.0,115,-39.3115,58.0,4704.0
3,가락본동,111,25532.0,125,-30.7845,54.0,6932.0
4,가리봉동,47,7566.0,54,-21.8088,NaN,NaN
...,...,...,...,...,...,...,...
419,효창동,66,9982.0,55,-39.3094,NaN,NaN
420,후암동,90,10701.0,108,-110.1838,NaN,NaN
421,휘경1동,68,12058.0,64,-15.7920,16.0,1889.0
422,휘경2동,129,17543.0,141,-18.4596,28.0,3782.0
423,흑석동,168,19199.0,212,-32.6523,18.0,2129.0

In [8]:
#누락데이터 처리
# merge_three.info()
# merge_three['Ave_val'].fillna(0,inplace=True)
merge_three.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ADM_DR_NM     423 non-null    object
 1   Cnt_ADM_DR_x  424 non-null    int64
 2   Sum_val       424 non-null    float64
 3   Cnt_ADM_DR_y  424 non-null    int64
 4   Ave_GRID_C    424 non-null    float64
 5   Cnt_ADM_DR    297 non-null    float64
 6   Sum_LENGTH    297 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 26.5+ KB

In [9]:
#print(merge_three)
#merge_three['Ave_GRID_C'].fillna(0,inplace=True)

merge_three['Sum_LENGTH'].fillna(0,inplace=True)
merge_three.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ADM_DR_NM     423 non-null    object
 1   Cnt_ADM_DR_x  424 non-null    int64
 2   Sum_val       424 non-null    float64
 3   Cnt_ADM_DR_y  424 non-null    int64
 4   Ave_GRID_C    424 non-null    float64
 5   Cnt_ADM_DR    297 non-null    float64
 6   Sum_LENGTH    424 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 26.5+ KB

In [10]:
#열이름 변경
merge_three.rename(columns={'ADM_DR_NM':'HDong_name','Sum_val':'workppl','Ave_GRID_C':'dem','Sum_LENGTH':'bikelength'},inplace=True)
print(merge_three)

    HDong_name  Cnt_ADM_DR_x  workppl  Cnt_ADM_DR_y       dem  Cnt_ADM_DR  \
0          NaN          1347  16633.0          9397 -128.2047         NaN
1         가락1동           120  22381.0           173  -15.5247        74.0
2         가락2동            83  18686.0           115  -39.3115        58.0
3         가락본동           111  25532.0           125  -30.7845        54.0
4         가리봉동            47   7566.0            54  -21.8088         NaN
..         ...           ...      ...           ...       ...         ...
419        효창동            66   9982.0            55  -39.3094         NaN
420        후암동            90  10701.0           108 -110.1838         NaN
421       휘경1동            68  12058.0            64  -15.7920        16.0
422       휘경2동           129  17543.0           141  -18.4596        28.0
423        흑석동           168  19199.0           212  -32.6523        18.0

     bikelength
0           0.0
1        7150.0
2        4704.0
3        6932.0
4           0.0
..          ...
419         0.0
420         0.0
421      1889.0
422      3782.0
423      2129.0

[424 rows x 7 columns]

In [33]:
#열삭제
TID=merge_three.drop(['Cnt_ADM_DR_x','Cnt_ADM_DR_y',"Cnt_ADM_DR"],axis=1)
print(TID)
display(TID)

    ADM_DR_NM  Sum_val  Ave_GRID_C  Sum_LENGTH
0         NaN  16633.0   -128.2047         NaN
1        가락1동  22381.0    -15.5247      7150.0
2        가락2동  18686.0    -39.3115      4704.0
3        가락본동  25532.0    -30.7845      6932.0
4        가리봉동   7566.0    -21.8088         NaN
..        ...      ...         ...         ...
419       효창동   9982.0    -39.3094         NaN
420       후암동  10701.0   -110.1838         NaN
421      휘경1동  12058.0    -15.7920      1889.0
422      휘경2동  17543.0    -18.4596      3782.0
423       흑석동  19199.0    -32.6523      2129.0

[424 rows x 4 columns]

    ADM_DR_NM  Sum_val  Ave_GRID_C  Sum_LENGTH
0         NaN  16633.0   -128.2047         NaN
1        가락1동  22381.0    -15.5247      7150.0
2        가락2동  18686.0    -39.3115      4704.0
3        가락본동  25532.0    -30.7845      6932.0
4        가리봉동   7566.0    -21.8088         NaN
..        ...      ...         ...         ...
419       효창동   9982.0    -39.3094         NaN
420       후암동  10701.0   -110.1838         NaN
421      휘경1동  12058.0    -15.7920      1889.0
422      휘경2동  17543.0    -18.4596      3782.0
423       흑석동  19199.0    -32.6523      2129.0

[424 rows x 4 columns]

In [35]:
#파일저장 
TID.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/data_행정동unit/df_HDong.csv")

In [36]:
#누락데이터 제거
TID=TID.dropna(subset=['HDong_name'],how='any',axis=0)
TID.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/data_행정동unit/df_HDong1.csv")
#누락데이터 개수 구하기
print(TID.isnull().sum(axis=0))
print(TID.head(400))
display(TID)

KeyError: ['HDong_name']

In [14]:
#특정 열을 행 인덱스로 설정
TID.set_index('HDong_name')

            workppl       dem  bikelength
HDong_name
가락1동        22381.0  -15.5247      7150.0
가락2동        18686.0  -39.3115      4704.0
가락본동        25532.0  -30.7845      6932.0
가리봉동         7566.0  -21.8088         0.0
가산동         25926.0  -12.9490      2108.0
...             ...       ...         ...
효창동          9982.0  -39.3094         0.0
후암동         10701.0 -110.1838         0.0
휘경1동        12058.0  -15.7920      1889.0
휘경2동        17543.0  -18.4596      3782.0
흑석동         19199.0  -32.6523      2129.0

[423 rows x 3 columns]

In [15]:
#함수

def str2flt(x):
    return float(x)
z_dong=TID
print(z_dong)
z_dong['workppl'].apply(str2flt)
z_dong['dem'].apply(str2flt)
z_dong['dem'].apply(str2flt)

    HDong_name  workppl       dem  bikelength
1         가락1동  22381.0  -15.5247      7150.0
2         가락2동  18686.0  -39.3115      4704.0
3         가락본동  25532.0  -30.7845      6932.0
4         가리봉동   7566.0  -21.8088         0.0
5          가산동  25926.0  -12.9490      2108.0
..         ...      ...       ...         ...
419        효창동   9982.0  -39.3094         0.0
420        후암동  10701.0 -110.1838         0.0
421       휘경1동  12058.0  -15.7920      1889.0
422       휘경2동  17543.0  -18.4596      3782.0
423        흑석동  19199.0  -32.6523      2129.0

[423 rows x 4 columns]

1      -15.5247
2      -39.3115
3      -30.7845
4      -21.8088
5      -12.9490
         ...
419    -39.3094
420   -110.1838
421    -15.7920
422    -18.4596
423    -32.6523
Name: dem, Length: 423, dtype: float64

In [16]:
print(z_dong)
z_dong.info()

    HDong_name  workppl       dem  bikelength
1         가락1동  22381.0  -15.5247      7150.0
2         가락2동  18686.0  -39.3115      4704.0
3         가락본동  25532.0  -30.7845      6932.0
4         가리봉동   7566.0  -21.8088         0.0
5          가산동  25926.0  -12.9490      2108.0
..         ...      ...       ...         ...
419        효창동   9982.0  -39.3094         0.0
420        후암동  10701.0 -110.1838         0.0
421       휘경1동  12058.0  -15.7920      1889.0
422       휘경2동  17543.0  -18.4596      3782.0
423        흑석동  19199.0  -32.6523      2129.0

[423 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 423 entries, 1 to 423
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   HDong_name  423 non-null    object
 1   workppl     423 non-null    float64
 2   dem         423 non-null    float64
 3   bikelength  423 non-null    float64
dtypes: float64(3), object(1)
memory usage: 16.5+ KB

In [22]:
#특정 열을 행 인덱스로 설정
zscore=z_dong.set_index('HDong_name')
print(zscore)

             workppl       dem  bikelength
HDong_name
가락1동        0.805473  0.674284    1.051002
가락2동        0.286642  0.071430    0.436598
가락본동        1.247918  0.287539    0.996243
가리봉동       -1.274766  0.515020   -0.744987
가산동         1.303241  0.739563   -0.215484
...              ...       ...         ...
효창동        -0.935525  0.071483   -0.744987
후암동        -0.834567 -1.724762   -0.744987
휘경1동       -0.644024  0.667510   -0.270494
휘경2동        0.126148  0.599902    0.205003
흑석동         0.358674  0.240201   -0.210209

[423 rows x 3 columns]

In [38]:
def z_score(x):
    return (x-x.mean())/x.std()
# 표준화 시행
z_dong=zscore.apply(z_score,axis=0)

print(z_dong)
display(z_dong)

             workppl       dem  bikelength
HDong_name
가락1동        0.805473  0.674284    1.051002
가락2동        0.286642  0.071430    0.436598
가락본동        1.247918  0.287539    0.996243
가리봉동       -1.274766  0.515020   -0.744987
가산동         1.303241  0.739563   -0.215484
...              ...       ...         ...
효창동        -0.935525  0.071483   -0.744987
후암동        -0.834567 -1.724762   -0.744987
휘경1동       -0.644024  0.667510   -0.270494
휘경2동        0.126148  0.599902    0.205003
흑석동         0.358674  0.240201   -0.210209

[423 rows x 3 columns]

             workppl       dem  bikelength
HDong_name
가락1동        0.805473  0.674284    1.051002
가락2동        0.286642  0.071430    0.436598
가락본동        1.247918  0.287539    0.996243
가리봉동       -1.274766  0.515020   -0.744987
가산동         1.303241  0.739563   -0.215484
...              ...       ...         ...
효창동        -0.935525  0.071483   -0.744987
후암동        -0.834567 -1.724762   -0.744987
휘경1동       -0.644024  0.667510   -0.270494
휘경2동        0.126148  0.599902    0.205003
흑석동         0.358674  0.240201   -0.210209

[423 rows x 3 columns]

In [21]:
z_dong=z_dong.reset_index()
print(z_dong)

    HDong_name   workppl       dem  bikelength
0         가락1동  0.805473  0.674284    1.051002
1         가락2동  0.286642  0.071430    0.436598
2         가락본동  1.247918  0.287539    0.996243
3         가리봉동 -1.274766  0.515020   -0.744987
4          가산동  1.303241  0.739563   -0.215484
..         ...       ...       ...         ...
418        효창동 -0.935525  0.071483   -0.744987
419        후암동 -0.834567 -1.724762   -0.744987
420       휘경1동 -0.644024  0.667510   -0.270494
421       휘경2동  0.126148  0.599902    0.205003
422        흑석동  0.358674  0.240201   -0.210209

[423 rows x 4 columns]

In [24]:
#파일저장 
z_dong.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/z_dong.csv")

In [22]:
#특정 열을 행 인덱스로 설정
z_TID.set_index('TID',inplace=True)

In [25]:
sum_zdong=z_dong

In [26]:
# 각 행 sum하기 
# sum_zTID['sum3']=sum_zTID.apply(lambda x :sum(),axis=1) : Nope-> 연산메소드로 해결하기
sum_zdong['sum_road_dem']=sum_zdong['dem']+sum_zdong['bikelength']
sum_zdong['sum_ppl_dem']=sum_zdong['dem']+sum_zdong['workppl']
sum_zdong['sum_ppl_road']=sum_zdong['workppl']+sum_zdong['bikelength']
print(sum_zdong)

             workppl       dem  bikelength  sum_road_dem  sum_ppl_dem  \
HDong_name
가락1동        0.805473  0.674284    1.051002      1.725286     1.479757
가락2동        0.286642  0.071430    0.436598      0.508028     0.358072
가락본동        1.247918  0.287539    0.996243      1.283782     1.535457
가리봉동       -1.274766  0.515020   -0.744987     -0.229967    -0.759746
가산동         1.303241  0.739563   -0.215484      0.524079     2.042805
...              ...       ...         ...           ...          ...
효창동        -0.935525  0.071483   -0.744987     -0.673504    -0.864041
후암동        -0.834567 -1.724762   -0.744987     -2.469749    -2.559328
휘경1동       -0.644024  0.667510   -0.270494      0.397016     0.023485
휘경2동        0.126148  0.599902    0.205003      0.804905     0.726050
흑석동         0.358674  0.240201   -0.210209      0.029992     0.598876

            sum_ppl_road
HDong_name
가락1동            1.856475
가락2동            0.723240
가락본동            2.244162
가리봉동           -2.019753
가산동             1.087757
...                  ...
효창동            -1.680512
후암동            -1.579554
휘경1동           -0.914519
휘경2동            0.331151
흑석동             0.148465

[423 rows x 6 columns]

In [39]:
sum_zdong['sum_3']=sum_zdong['sum_ppl_dem']+sum_zdong['bikelength']
print(sum_zdong)
display(sum_zdong)

             workppl       dem  bikelength  sum_road_dem  sum_ppl_dem  \
HDong_name
가락1동        0.805473  0.674284    1.051002      1.725286     1.479757
가락2동        0.286642  0.071430    0.436598      0.508028     0.358072
가락본동        1.247918  0.287539    0.996243      1.283782     1.535457
가리봉동       -1.274766  0.515020   -0.744987     -0.229967    -0.759746
가산동         1.303241  0.739563   -0.215484      0.524079     2.042805
...              ...       ...         ...           ...          ...
효창동        -0.935525  0.071483   -0.744987     -0.673504    -0.864041
후암동        -0.834567 -1.724762   -0.744987     -2.469749    -2.559328
휘경1동       -0.644024  0.667510   -0.270494      0.397016     0.023485
휘경2동        0.126148  0.599902    0.205003      0.804905     0.726050
흑석동         0.358674  0.240201   -0.210209      0.029992     0.598876

            sum_ppl_road     sum_3
HDong_name
가락1동            1.856475  2.530759
가락2동            0.723240  0.794670
가락본동            2.244162  2.531701
가리봉동           -2.019753 -1.504733
가산동             1.087757  1.827320
...                  ...       ...
효창동            -1.680512 -1.609028
후암동            -1.579554 -3.304315
휘경1동           -0.914519 -0.247009
휘경2동            0.331151  0.931054
흑석동             0.148465  0.388666

[423 rows x 7 columns]

,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
HDong_name,,,,,,,
가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...
효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666

In [29]:
#파일저장 
sum_zdong.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/sum_zdong.csv")

In [30]:
display(sum_zdong)

,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
HDong_name,,,,,,,
가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...
효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666