In [20]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1116 팀플/공시지가_평균.xlsx'
file2='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1116 팀플/group_4quantile.xlsx'

dfprice=pd.read_excel(file_path)
dfquant=pd.read_excel(file2)
display(dfprice.head(20))
display(dfquant.head(20))
# 열기준 sort 
print('\n')
sort_dfquant=dfquant.sort_values(by='교통지수',ascending=True)
display(sort_dfquant.head(20))
dfprice.rename(columns={'ADM_DR_NM':'동'},inplace=True)
merge_outer=pd.merge(dfprice,dfquant,how='outer',on='동')
display(merge_outer.head(10))
merge_outer.to_excel("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1116 팀플/quant_avgprice.xlsx")

   ADM_DR_NM  Cnt_ADM_DR       Ave_val
0        NaN          21  3.380952e+03
1       가락1동         117  1.238190e+06
2       가락2동          82  4.597770e+06
3       가락본동         110  6.720623e+06
4       가리봉동          46  3.213181e+06
5        가산동         271  2.191588e+06
6       가양1동         539  5.201058e+05
7       가양2동          66  1.270129e+06
8       가양3동          30  2.624586e+06
9        가회동          54  4.193833e+06
10      갈현1동         127  2.287415e+06
11      갈현2동         106  2.553422e+06
12       강일동         423  8.967026e+05
13      개봉1동          86  2.216274e+06
14      개봉2동         107  1.990936e+06
15      개봉3동          95  1.404545e+06
16      개포1동         165  1.893221e+06
17      개포2동         179  2.486922e+06
18      개포4동         127  3.120944e+06
19      거여1동          79  2.963819e+06

,Unnamed: 0,동,sum_3,교통지수,tr_index,sum_index,interquant,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,10,갈현2동,1.416783,-0.599009,4,2,3,NaN,NaN,NaN
1,13,개봉2동,1.535743,-0.694086,4,2,3,NaN,NaN,NaN
2,20,고덕1동,2.065361,-0.424232,4,2,3,NaN,NaN,NaN
3,71,대치1동,2.767799,-1.031404,4,2,3,NaN,NaN,NaN
4,92,등촌1동,2.197835,-0.839549,4,2,3,NaN,NaN,고덕1동
5,93,등촌2동,1.545358,-1.641941,4,2,3,NaN,NaN,등촌2동
6,100,망원1동,3.109215,-0.628730,4,2,3,NaN,NaN,사당2동
7,102,면목2동,1.517241,-1.087482,4,2,3,NaN,NaN,삼전동
8,112,목2동,2.547823,-1.008633,4,2,3,NaN,NaN,서빙고동
9,136,방이2동,1.647925,-0.958877,4,2,3,NaN,NaN,성수1가2동
10,168,삼전동,3.864709,-1.061126,4,2,3,NaN,NaN,수서동
11,176,상계8동,2.126611,-1.643420,4,2,3,NaN,NaN,암사2동
12,182,상봉1동,1.223595,-0.542081,4,2,3,NaN,NaN,용답동
13,189,서빙고동,2.569377,-0.694086,4,2,3,NaN,NaN,이촌1동
14,196,석촌동,2.539781,-1.032033,4,2,3,NaN,NaN,이촌2동
15,204,성수1가2동,1.175117,-1.020647,4,2,3,NaN,NaN,일원본동
16,213,송파1동,1.592250,-1.099497,4,2,3,NaN,NaN,방화2동
17,217,수서동,1.312110,-0.738779,4,2,3,NaN,NaN,천호2동
18,242,신사1동,2.415373,-0.632316,4,2,3,NaN,NaN,양평2동
19,261,신정1동,1.503411,-0.525852,4,2,3,NaN,NaN,풍납1동

,Unnamed: 0,동,sum_3,교통지수,tr_index,sum_index,interquant,Unnamed: 7,Unnamed: 8,Unnamed: 9
33,397,풍납1동,2.119270,-2.137586,4,2,3,NaN,NaN,NaN
26,324,이촌2동,1.831368,-1.933088,4,2,3,NaN,NaN,NaN
11,176,상계8동,2.126611,-1.643420,4,2,3,NaN,NaN,암사2동
5,93,등촌2동,1.545358,-1.641941,4,2,3,NaN,NaN,등촌2동
27,334,자양2동,2.216005,-1.521985,4,2,3,NaN,NaN,NaN
21,275,암사2동,3.158550,-1.472229,4,2,3,NaN,NaN,NaN
30,339,잠실4동,1.576175,-1.255716,4,2,3,NaN,NaN,NaN
28,337,잠실2동,5.599550,-1.147775,4,2,3,NaN,NaN,NaN
32,385,천호1동,1.384593,-1.108775,4,2,3,NaN,NaN,NaN
16,213,송파1동,1.592250,-1.099497,4,2,3,NaN,NaN,방화2동
20,264,신정4동,1.265331,-1.087482,4,2,3,NaN,NaN,NaN
7,102,면목2동,1.517241,-1.087482,4,2,3,NaN,NaN,삼전동
10,168,삼전동,3.864709,-1.061126,4,2,3,NaN,NaN,수서동
14,196,석촌동,2.539781,-1.032033,4,2,3,NaN,NaN,이촌2동
3,71,대치1동,2.767799,-1.031404,4,2,3,NaN,NaN,NaN
15,204,성수1가2동,1.175117,-1.020647,4,2,3,NaN,NaN,일원본동
8,112,목2동,2.547823,-1.008633,4,2,3,NaN,NaN,서빙고동
9,136,방이2동,1.647925,-0.958877,4,2,3,NaN,NaN,성수1가2동
29,338,잠실3동,1.247547,-0.887199,4,2,3,NaN,NaN,NaN
4,92,등촌1동,2.197835,-0.839549,4,2,3,NaN,NaN,고덕1동

,동,Cnt_ADM_DR,Ave_val,Unnamed: 0,sum_3,교통지수,tr_index,sum_index,interquant,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,21,3.380952e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,가락1동,117,1.238190e+06,0.0,2.530759,-0.108835,3.0,2.0,4.0,NaN,NaN,NaN
2,가락2동,82,4.597770e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,가락본동,110,6.720623e+06,2.0,2.531701,0.069935,3.0,2.0,4.0,NaN,NaN,NaN
4,가리봉동,46,3.213181e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,가산동,271,2.191588e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,가양1동,539,5.201058e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,가양2동,66,1.270129e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,가양3동,30,2.624586e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,가회동,54,4.193833e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import pandas as pd
file='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1116 팀플/교차분석결과.xlsx'
result=pd.read_excel(file)
display(result)
dfprice.rename(columns={'ADM_DR_NM':'동'},inplace=True)

         동  교차분석결과  교통10분위수  공시지가 10분위수  (취약+공시)/2  우선순위결과
0     상계8동       3        1           2        5.5     2.0
1     등촌2동       3        1           2        7.5     2.0
2     잠실2동       3        2           1        8.5     2.5
3     암사2동       3        2           1        7.0     2.5
4     이촌2동       3        1           3        7.0     2.5
5     풍납1동       3        1           3        7.0     2.5
6     자양2동       3        2           3        9.5     3.5
7     잠실4동       3        2           6       19.0     5.0
8     면목2동       3        3           5       21.0     5.5
9      수서동       3        6           1       23.0     6.5
10    신정4동       3        3           7       25.0     6.5
11    천호1동       3        3           7       22.5     6.5
12    서빙고동       3        6           2       28.0     7.0
13    송파1동       3        3           9       26.5     7.5
14    개봉2동       3        6           4       29.5     8.0
15    잠실3동       3        5           6       29.5     8.0
16     목2동       3        5           6       28.0     8.0
17  성수1가2동       3        4           8       31.0     8.0
18     삼전동       3        4           8       28.5     8.0
19     석촌동       3        4           8       30.0     8.0
20    등촌1동       3        5           7       34.0     8.5
21    대치1동       3        4           9       32.0     8.5
22    신사1동       3        7           4       32.0     9.0
23     합정동       3        7           4       35.0     9.0
24    월계3동       3        9           1       37.5     9.5
25    상봉1동       3        8           3       37.5     9.5
26    망원1동       3        7           5       35.0     9.5
27    갈현2동       3        7           5       37.5     9.5
28    방이2동       3        5           9       35.5     9.5
29    고덕1동       3        9           2       38.0    10.0
30     용답동       3        8           4       36.5    10.0
31    잠실6동       3        6           8       36.5    10.0
32    이촌1동       3        9           5       42.5    11.5
33    화곡1동       3        8           7       43.5    11.5
34    신정1동       3        9           6       44.5    12.0
35    압구정동       3        8           9       48.0    12.5