In [10]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/traffic.xlsx'

dftraffic=pd.read_excel(file_path)
display(dftraffic)
#print(dftraffic.Sum_LENGTH.describe())

,Unnamed: 0,동,경사도,자전거도로길이,총거치대수,총대여수,비율,인구,면적,인구밀도,지하철역개수,버스정거장개수,접근성,교통편,자전거이용비율
0,0,가락1동,-15.5247,7150,115.0,74652.0,64914.78,27716,1.34,20684,1,13,12.686567,17,2.693462
1,1,가락2동,-39.3115,4704,45.0,33583.0,74628.89,33920,0.96,35333,0,23,23.958333,23,0.990065
2,2,가락본동,-30.7845,6932,55.0,25487.0,46340.00,27876,1.13,24669,2,25,29.203540,33,0.914299
3,3,가리봉동,-21.8088,0,10.0,5621.0,56210.00,15250,0.40,38125,0,9,22.500000,9,0.368590
4,4,가산동,-12.9490,2108,258.0,160033.0,62028.29,24455,2.52,9704,2,111,47.222222,119,6.543979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,419,효창동,-39.3094,0,35.0,18699.0,53425.71,10300,0.44,23409,1,14,40.909091,18,1.815437
420,420,후암동,-110.1838,0,10.0,72.0,720.00,18445,0.86,21448,0,16,18.604651,16,0.003903
421,421,휘경1동,-15.7920,1889,30.0,41753.0,139176.67,16508,0.63,26203,1,15,30.158730,19,2.529259
422,422,휘경2동,-18.4596,3782,51.0,15335.0,30068.63,25068,1.05,23874,0,18,17.142857,18,0.611736
423,423,흑석동,-32.6523,2129,145.0,50564.0,34871.72,35551,1.68,21161,1,51,32.738095,55,1.422295

In [18]:
ztraffic=dftraffic[['동','경사도', '자전거도로길이', '총거치대수', '총대여수', '인구', '면적', '접근성', '교통편','지하철역개수','버스정거장개수']]
display(ztraffic)

,동,경사도,자전거도로길이,총거치대수,총대여수,인구,면적,접근성,교통편,지하철역개수,버스정거장개수
0,가락1동,-15.5247,7150,115.0,74652.0,27716,1.34,12.686567,17,1,13
1,가락2동,-39.3115,4704,45.0,33583.0,33920,0.96,23.958333,23,0,23
2,가락본동,-30.7845,6932,55.0,25487.0,27876,1.13,29.203540,33,2,25
3,가리봉동,-21.8088,0,10.0,5621.0,15250,0.40,22.500000,9,0,9
4,가산동,-12.9490,2108,258.0,160033.0,24455,2.52,47.222222,119,2,111
...,...,...,...,...,...,...,...,...,...,...,...
419,효창동,-39.3094,0,35.0,18699.0,10300,0.44,40.909091,18,1,14
420,후암동,-110.1838,0,10.0,72.0,18445,0.86,18.604651,16,0,16
421,휘경1동,-15.7920,1889,30.0,41753.0,16508,0.63,30.158730,19,1,15
422,휘경2동,-18.4596,3782,51.0,15335.0,25068,1.05,17.142857,18,0,18
423,흑석동,-32.6523,2129,145.0,50564.0,35551,1.68,32.738095,55,1,51

In [19]:
#특정 열을 행 인덱스로 설정
ztraffic=ztraffic.set_index('동')
print(ztraffic)

           경사도  자전거도로길이  총거치대수      총대여수     인구    면적        접근성  교통편  지하철역개수  \
동
가락1동  -15.5247     7150  115.0   74652.0  27716  1.34  12.686567   17       1
가락2동  -39.3115     4704   45.0   33583.0  33920  0.96  23.958333   23       0
가락본동  -30.7845     6932   55.0   25487.0  27876  1.13  29.203540   33       2
가리봉동  -21.8088        0   10.0    5621.0  15250  0.40  22.500000    9       0
가산동   -12.9490     2108  258.0  160033.0  24455  2.52  47.222222  119       2
...        ...      ...    ...       ...    ...   ...        ...  ...     ...
효창동   -39.3094        0   35.0   18699.0  10300  0.44  40.909091   18       1
후암동  -110.1838        0   10.0      72.0  18445  0.86  18.604651   16       0
휘경1동  -15.7920     1889   30.0   41753.0  16508  0.63  30.158730   19       1
휘경2동  -18.4596     3782   51.0   15335.0  25068  1.05  17.142857   18       0
흑석동   -32.6523     2129  145.0   50564.0  35551  1.68  32.738095   55       1

      버스정거장개수
동
가락1동       13
가락2동       23
가락본동       25
가리봉동        9
가산동       111
...       ...
효창동        14
후암동        16
휘경1동       15
휘경2동       18
흑석동        51

[424 rows x 10 columns]

In [ ]:
# pandas as pd
# def minus(n):
#     return -n
# dfDEM['Ave_GRID_C']=dfDEM['Ave_GRID_C'].apply(minus)
# print(dfDEM)
# print(dfDEM.Ave_GRID_C.describe())

In [218]:
def z_score(x):
    return (x-x.mean())/x.std()
# 표준화 시행
ztraffic=ztraffic.apply(z_score,axis=0)

print(ztraffic)
display(ztraffic)

           경사도   자전거도로길이     총거치대수      총대여수        인구        면적       접근성  \
동
가락1동  0.673106  1.050335  0.646255  0.480471  0.439995 -0.055353 -1.034388
가락2동  0.069869  0.435476 -0.298236 -0.261170  1.104941 -0.295356 -0.230132
가락본동  0.286115  0.995536 -0.163308 -0.407371  0.457144 -0.187987  0.144120
가리봉동  0.513740 -0.746984 -0.770481 -0.766120 -0.896113 -0.649045 -0.334186
가산동   0.738426 -0.217089  2.575714  2.022317  0.090481  0.689919  1.429777
...        ...       ...       ...       ...       ...       ...       ...
효창동   0.069922 -0.746984 -0.433163 -0.529952 -1.426655 -0.623782  0.979327
후암동  -1.727465 -0.746984 -0.770481 -0.866326 -0.553672 -0.358515 -0.612125
휘경1동  0.666328 -0.272140 -0.500627 -0.113633 -0.761281 -0.503780  0.212274
휘경2동  0.598677  0.203710 -0.217279 -0.590700  0.156182 -0.238513 -0.716426
흑석동   0.238747 -0.211810  1.051037  0.045480  1.279752  0.159386  0.396316

           교통편    지하철역개수   버스정거장개수
동
가락1동 -0.755090  0.368904 -0.883370
가락2동 -0.384465 -0.882418 -0.224301
가락본동  0.233243  1.620225 -0.092487
가리봉동 -1.249256 -0.882418 -1.146997
가산동   5.545533  1.620225  5.575505
...        ...       ...       ...
효창동  -0.693319  0.368904 -0.817463
후암동  -0.816861 -0.882418 -0.685649
휘경1동 -0.631548  0.368904 -0.751556
휘경2동 -0.693319 -0.882418 -0.553835
흑석동   1.592201  0.368904  1.621092

[424 rows x 10 columns]

,경사도,자전거도로길이,총거치대수,총대여수,인구,면적,접근성,교통편,지하철역개수,버스정거장개수
동,,,,,,,,,,
가락1동,0.673106,1.050335,0.646255,0.480471,0.439995,-0.055353,-1.034388,-0.755090,0.368904,-0.883370
가락2동,0.069869,0.435476,-0.298236,-0.261170,1.104941,-0.295356,-0.230132,-0.384465,-0.882418,-0.224301
가락본동,0.286115,0.995536,-0.163308,-0.407371,0.457144,-0.187987,0.144120,0.233243,1.620225,-0.092487
가리봉동,0.513740,-0.746984,-0.770481,-0.766120,-0.896113,-0.649045,-0.334186,-1.249256,-0.882418,-1.146997
가산동,0.738426,-0.217089,2.575714,2.022317,0.090481,0.689919,1.429777,5.545533,1.620225,5.575505
...,...,...,...,...,...,...,...,...,...,...
효창동,0.069922,-0.746984,-0.433163,-0.529952,-1.426655,-0.623782,0.979327,-0.693319,0.368904,-0.817463
후암동,-1.727465,-0.746984,-0.770481,-0.866326,-0.553672,-0.358515,-0.612125,-0.816861,-0.882418,-0.685649
휘경1동,0.666328,-0.272140,-0.500627,-0.113633,-0.761281,-0.503780,0.212274,-0.631548,0.368904,-0.751556
휘경2동,0.598677,0.203710,-0.217279,-0.590700,0.156182,-0.238513,-0.716426,-0.693319,-0.882418,-0.553835
흑석동,0.238747,-0.211810,1.051037,0.045480,1.279752,0.159386,0.396316,1.592201,0.368904,1.621092

In [26]:
zmytraffic=ztraffic[['지하철역개수','버스정거장개수','접근성','교통편','총거치대수']]
display(zmytraffic)

        지하철역개수   버스정거장개수       접근성       교통편     총거치대수
동
가락1동  0.368904 -0.883370 -1.034388 -0.755090  0.646255
가락2동 -0.882418 -0.224301 -0.230132 -0.384465 -0.298236
가락본동  1.620225 -0.092487  0.144120  0.233243 -0.163308
가리봉동 -0.882418 -1.146997 -0.334186 -1.249256 -0.770481
가산동   1.620225  5.575505  1.429777  5.545533  2.575714
...        ...       ...       ...       ...       ...
효창동   0.368904 -0.817463  0.979327 -0.693319 -0.433163
후암동  -0.882418 -0.685649 -0.612125 -0.816861 -0.770481
휘경1동  0.368904 -0.751556  0.212274 -0.631548 -0.500627
휘경2동 -0.882418 -0.553835 -0.716426 -0.693319 -0.217279
흑석동   0.368904  1.621092  0.396316  1.592201  1.051037

[424 rows x 5 columns]

In [27]:
zmytraffic.describe()

             지하철역개수       버스정거장개수           접근성           교통편         총거치대수
count  4.240000e+02  4.240000e+02  4.240000e+02  4.240000e+02  4.060000e+02
mean  -5.446377e-17  8.379042e-17 -8.797994e-17  1.173066e-16  7.000421e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -8.824176e-01 -1.674252e+00 -1.786851e+00 -1.743423e+00 -8.109592e-01
25%   -8.824176e-01 -7.515561e-01 -6.764655e-01 -6.933191e-01 -5.006266e-01
50%    3.689037e-01 -2.243010e-01 -1.217147e-01 -2.609234e-01 -2.307721e-01
75%    3.689037e-01  4.347678e-01  5.258242e-01  4.185555e-01  2.212341e-01
max    4.122868e+00  5.575505e+00  5.040431e+00  5.545533e+00  1.188569e+01

In [33]:
# import pandas as pd
# trafficindex=zmytraffic['교통편']+zmytraffic['총거치대수']

In [43]:
# #시리즈 데이터 프레임으로 만들기 실패
# pandas.Dataframe(trafficindex)

NameError: name 'pandas' is not defined

In [38]:
# #합한 열 생성 실패 
# zmytraffic['tr_index']=zmytraffic['교통편']+zmytraffic['총거치대수']

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [140]:
#na 값 0 처리
zmytraffic['총거치대수'].fillna(0,inplace=True)
# 행끼리 sum 하기 
zmytraffic['교통지수']=zmytraffic['교통편']+zmytraffic['총거치대수']
display(zmytraffic)
zmytraffic.describe()

,level_0,index,동,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index
0,0,0,가락1동,0.368904,-0.883370,-1.034388,-0.755090,0.646255,-0.108835,NaN
1,1,1,가락2동,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,NaN
2,2,2,가락본동,1.620225,-0.092487,0.144120,0.233243,-0.163308,0.069935,NaN
3,3,3,가리봉동,-0.882418,-1.146997,-0.334186,-1.249256,-0.770481,-2.019737,NaN
4,4,4,가산동,1.620225,5.575505,1.429777,5.545533,2.575714,8.121247,NaN
...,...,...,...,...,...,...,...,...,...,...
419,419,419,효창동,0.368904,-0.817463,0.979327,-0.693319,-0.433163,-1.126482,NaN
420,420,420,후암동,-0.882418,-0.685649,-0.612125,-0.816861,-0.770481,-1.587342,NaN
421,421,421,휘경1동,0.368904,-0.751556,0.212274,-0.631548,-0.500627,-1.132175,NaN
422,422,422,휘경2동,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,NaN
423,423,423,흑석동,0.368904,1.621092,0.396316,1.592201,1.051037,2.643238,NaN

,level_0,index,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수
count,424.00000,424.00000,4.240000e+02,4.240000e+02,4.240000e+02,4.240000e+02,4.240000e+02,4.240000e+02
mean,211.50000,211.50000,-5.446377e-17,8.379042e-17,-8.797994e-17,1.173066e-16,6.703233e-17,1.508228e-16
std,122.54251,122.54251,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.784921e-01,1.727942e+00
min,0.00000,0.00000,-8.824176e-01,-1.674252e+00,-1.786851e+00,-1.743423e+00,-8.109592e-01,-2.232035e+00
25%,105.75000,105.75000,-8.824176e-01,-7.515561e-01,-6.764655e-01,-6.933191e-01,-5.006266e-01,-1.032403e+00
50%,211.50000,211.50000,3.689037e-01,-2.243010e-01,-1.217147e-01,-2.609234e-01,-1.902939e-01,-3.960821e-01
75%,317.25000,317.25000,3.689037e-01,4.347678e-01,5.258242e-01,4.185555e-01,1.740096e-01,6.198185e-01
max,423.00000,423.00000,4.122868e+00,5.575505e+00,5.040431e+00,5.545533e+00,1.188569e+01,1.452800e+01

In [141]:
display(zmytraffic)
zmytraffic.info()

,level_0,index,동,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index
0,0,0,가락1동,0.368904,-0.883370,-1.034388,-0.755090,0.646255,-0.108835,NaN
1,1,1,가락2동,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,NaN
2,2,2,가락본동,1.620225,-0.092487,0.144120,0.233243,-0.163308,0.069935,NaN
3,3,3,가리봉동,-0.882418,-1.146997,-0.334186,-1.249256,-0.770481,-2.019737,NaN
4,4,4,가산동,1.620225,5.575505,1.429777,5.545533,2.575714,8.121247,NaN
...,...,...,...,...,...,...,...,...,...,...
419,419,419,효창동,0.368904,-0.817463,0.979327,-0.693319,-0.433163,-1.126482,NaN
420,420,420,후암동,-0.882418,-0.685649,-0.612125,-0.816861,-0.770481,-1.587342,NaN
421,421,421,휘경1동,0.368904,-0.751556,0.212274,-0.631548,-0.500627,-1.132175,NaN
422,422,422,휘경2동,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,NaN
423,423,423,흑석동,0.368904,1.621092,0.396316,1.592201,1.051037,2.643238,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   level_0   424 non-null    int64
 1   index     424 non-null    int64
 2   동         424 non-null    object
 3   지하철역개수    424 non-null    float64
 4   버스정거장개수   424 non-null    float64
 5   접근성       424 non-null    float64
 6   교통편       424 non-null    float64
 7   총거치대수     424 non-null    float64
 8   교통지수      424 non-null    float64
 9   tr_index  424 non-null    object
dtypes: float64(6), int64(2), object(2)
memory usage: 33.2+ KB

In [189]:
zmytraffic.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/zmytraffic.csv")

In [ ]:
def inter(a,b):
    if a >= -0.392293 and b >:
        return 0
    else :
        return 1

In [146]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/sum_zdong.csv'

dfsuit=pd.read_csv(file_path)
display(dfsuit)

#print(dftraffic.Sum_LENGTH.describe())

,HDong_name,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...,...
418,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
419,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
420,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
421,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
422,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666

In [ ]:
zmytraffic=zmytraffic.reset_index()

In [147]:
dfsuit.rename(columns={'HDong_name':'동'},inplace=True)
display(dfsuit)

,동,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...,...
418,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
419,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
420,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
421,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
422,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666

In [188]:
#코드 보낼 것 
dfsuit.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/dfsuit.csv")

In [191]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/dfsuit.csv'

dfsuit=pd.read_csv(file_path)

import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/zmytraffic.csv'

zmytraffic=pd.read_csv(file_path)

In [194]:
display(zmytraffic)

,Unnamed: 0,level_0,index,동,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index
0,0,0,0,가락1동,0.368904,-0.883370,-1.034388,-0.755090,0.646255,-0.108835,NaN
1,1,1,1,가락2동,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,NaN
2,2,2,2,가락본동,1.620225,-0.092487,0.144120,0.233243,-0.163308,0.069935,NaN
3,3,3,3,가리봉동,-0.882418,-1.146997,-0.334186,-1.249256,-0.770481,-2.019737,NaN
4,4,4,4,가산동,1.620225,5.575505,1.429777,5.545533,2.575714,8.121247,NaN
...,...,...,...,...,...,...,...,...,...,...,...
419,419,419,419,효창동,0.368904,-0.817463,0.979327,-0.693319,-0.433163,-1.126482,NaN
420,420,420,420,후암동,-0.882418,-0.685649,-0.612125,-0.816861,-0.770481,-1.587342,NaN
421,421,421,421,휘경1동,0.368904,-0.751556,0.212274,-0.631548,-0.500627,-1.132175,NaN
422,422,422,422,휘경2동,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,NaN
423,423,423,423,흑석동,0.368904,1.621092,0.396316,1.592201,1.051037,2.643238,NaN

In [195]:
import pandas as pd
#dfsuit, zmytraffic 합치기
dfsuit=pd.merge(dfsuit,zmytraffic, how='inner',on='동')
display(dfsuit)

,Unnamed: 0_x,동,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3,level_0_x,...,Unnamed: 0,level_0,index,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index
0,0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759,0,...,0,0,0,0.368904,-0.883370,-1.034388,-0.755090,0.646255,-0.108835,NaN
1,1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670,1,...,1,1,1,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,NaN
2,2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701,2,...,2,2,2,1.620225,-0.092487,0.144120,0.233243,-0.163308,0.069935,NaN
3,3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733,3,...,3,3,3,-0.882418,-1.146997,-0.334186,-1.249256,-0.770481,-2.019737,NaN
4,4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320,4,...,4,4,4,1.620225,5.575505,1.429777,5.545533,2.575714,8.121247,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,419,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028,419,...,419,419,419,0.368904,-0.817463,0.979327,-0.693319,-0.433163,-1.126482,NaN
426,420,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315,420,...,420,420,420,-0.882418,-0.685649,-0.612125,-0.816861,-0.770481,-1.587342,NaN
427,421,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009,421,...,421,421,421,0.368904,-0.751556,0.212274,-0.631548,-0.500627,-1.132175,NaN
428,422,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054,422,...,422,422,422,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,NaN
429,423,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666,423,...,423,423,423,0.368904,1.621092,0.396316,1.592201,1.051037,2.643238,NaN

In [199]:
dfinter=dfsuit[['동','sum_3','교통지수']]
display(dfinter)

dfinter.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/indexdong.csv")
dfinter.describe()

        동     sum_3      교통지수
0    가락1동  2.530759 -0.108835
1    가락2동  0.794670 -0.682701
2    가락본동  2.531701  0.069935
3    가리봉동 -1.504733 -2.019737
4     가산동  1.827320  8.121247
..    ...       ...       ...
425   효창동 -1.609028 -1.126482
426   후암동 -3.304315 -1.587342
427  휘경1동 -0.247009 -1.132175
428  휘경2동  0.931054 -0.910598
429   흑석동  0.388666  2.643238

[430 rows x 3 columns]

            sum_3        교통지수
count  430.000000  430.000000
mean     0.071320    0.019217
std      2.148934    1.723422
min     -7.505796   -2.232035
25%     -1.200534   -1.031876
50%      0.033588   -0.392293
75%      1.237509    0.667773
max      9.008577   14.527998

In [ ]:
# 열뽑아서 series 만들기
# s_sum=dfinter['sum_3']
# print(s_sum)
# s_tr=dfinter['교통지수']
# print(s_tr)

In [200]:
''' sum_3           교통지수
25% -1.229999	-1.032403e+00
50%	0.003758	-3.960821e-01
75%	1.167670	6.198185e-01
max	9.008577	1.452800e+01'''
# 열별로 사분위수 주기
def quant_sum(x):
    if x>= 9.008577:
        return 1
    elif x >= 1.167670  :
        return 2
    elif x >= 0.003758 :
        return 3
    else:
        return 4
        
def quant_trf(x):
    if x>= 1.452800e+01 :
        return 1
    elif x >= 6.198185e-01  :
        return 2
    elif x >= -3.960821e-01:
        return 3
    else:
        return 4

dfinter['tr_index']=dfinter['교통지수'].apply(quant_trf)
dfinter['sum_index']=dfinter['sum_3'].apply(quant_sum)

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [95]:
#교차분석 진행 하자. # dfsuit.sort_values(by='sum_3',)
#apply 적용할 함수 정의 
# def inter(x,y):
#     if x>= -0.01238667 & y <= -0.392293 :
#         return 4
#     elif x< -0.01238667 & y <= -0.392293 :
#         return 3
#     elif x>= -0.01238667 & y > -0.392293 :
#         return 1
#     else :
#         return 2

In [201]:
def inter_g(s,t):
    if s==1 and t==4:
        return 1
    elif s==1 and t==3:
        return 2
    elif s==2 and t==4:
        return 3
    elif s==2 and t==3:
        return 4

In [202]:
#교차분석 done : pandas , 두가지 열 apply
dfinter['interquant']=dfinter.apply(lambda x: inter_g(x.sum_index,x.tr_index),axis=1)

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [213]:
display(dfinter.tail(100))
dfinter.to_excel("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/group2.csv")

        동     sum_3      교통지수  tr_index  sum_index  interquant
330  일원1동 -0.432038 -1.643420         4          4         NaN
331  일원2동  0.973068 -1.575956         4          3         NaN
332  일원본동  1.726340 -0.070685         3          2         4.0
333  자양1동  0.765226 -1.313902         4          3         NaN
334  자양2동  2.216005 -1.521985         4          2         3.0
..    ...       ...       ...       ...        ...         ...
425   효창동 -1.609028 -1.126482         4          4         NaN
426   후암동 -3.304315 -1.587342         4          4         NaN
427  휘경1동 -0.247009 -1.132175         4          4         NaN
428  휘경2동  0.931054 -0.910598         4          3         NaN
429   흑석동  0.388666  2.643238         2          3         NaN

[100 rows x 6 columns]

ValueError: No engine for filetype: 'csv'

In [217]:
dfinter.to_excel("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/group2.xlsx")

In [204]:
#그룹연산
grouped=dfinter.groupby(['interquant'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000215C5D83908>

In [216]:
grouped.to_excel("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/group2.xlsx")

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_excel'

In [207]:
for key, group in grouped:
    print('key',key)
    print('group',group)
    print(group.head())

key 3.0
group           동     sum_3      교통지수  tr_index  sum_index  interquant
10     갈현2동  1.416783 -0.599009         4          2         3.0
13     개봉2동  1.535743 -0.694086         4          2         3.0
20     고덕1동  2.065361 -0.424232         4          2         3.0
71     대치1동  2.767799 -1.031404         4          2         3.0
92     등촌1동  2.197835 -0.839549         4          2         3.0
93     등촌2동  1.545358 -1.641941         4          2         3.0
100    망원1동  3.109215 -0.628730         4          2         3.0
102    면목2동  1.517241 -1.087482         4          2         3.0
112     목2동  2.547823 -1.008633         4          2         3.0
136    방이2동  1.647925 -0.958877         4          2         3.0
168     삼전동  3.864709 -1.061126         4          2         3.0
176    상계8동  2.126611 -1.643420         4          2         3.0
182    상봉1동  1.223595 -0.542081         4          2         3.0
189    서빙고동  2.569377 -0.694086         4          2         3.0
196     석촌동  2.539781 -1.032033         4          2         3.0
204  성수1가2동  1.175117 -1.020647         4          2         3.0
213    송파1동  1.592250 -1.099497         4          2         3.0
217     수서동  1.312110 -0.738779         4          2         3.0
242    신사1동  2.415373 -0.632316         4          2         3.0
261    신정1동  1.503411 -0.525852         4          2         3.0
264    신정4동  1.265331 -1.087482         4          2         3.0
275    암사2동  3.158550 -1.472229         4          2         3.0
277    압구정동  1.241097 -0.584037         4          2         3.0
301     용답동  3.154126 -0.590987         4          2         3.0
311    월계3동  2.890029 -0.402311         4          2         3.0
323    이촌1동  3.743318 -0.468924         4          2         3.0
324    이촌2동  1.831368 -1.933088         4          2         3.0
334    자양2동  2.216005 -1.521985         4          2         3.0
337    잠실2동  5.599550 -1.147775         4          2         3.0
338    잠실3동  1.247547 -0.887199         4          2         3.0
339    잠실4동  1.576175 -1.255716         4          2         3.0
340    잠실6동  2.390049 -0.721700         4          2         3.0
385    천호1동  1.384593 -1.108775         4          2         3.0
397    풍납1동  2.119270 -2.137586         4          2         3.0
404     합정동  2.280311 -0.626623         4          2         3.0
414    화곡1동  1.685173 -0.578345         4          2         3.0
       동     sum_3      교통지수  tr_index  sum_index  interquant
10  갈현2동  1.416783 -0.599009         4          2         3.0
13  개봉2동  1.535743 -0.694086         4          2         3.0
20  고덕1동  2.065361 -0.424232         4          2         3.0
71  대치1동  2.767799 -1.031404         4          2         3.0
92  등촌1동  2.197835 -0.839549         4          2         3.0
key 4.0
group         동     sum_3      교통지수  tr_index  sum_index  interquant
0    가락1동  2.530759 -0.108835         3          2         4.0
2    가락본동  2.531701  0.069935         3          2         4.0
36    구산동  2.058141 -0.216998         3          2         4.0
39   구의3동  3.999752  0.021028         3          2         4.0
77   도곡2동  1.875034 -0.390075         3          2         4.0
109  명일1동  1.803833  0.479781         3          2         4.0
140  방화1동  2.673565  0.350325         3          2         4.0
141  방화2동  1.386049  0.288554         3          2         4.0
143   번1동  2.041928 -0.395139         3          2         4.0
156  사당1동  1.225071 -0.346011         3          2         4.0
157  사당2동  2.043802 -0.121071         3          2         4.0
172  상계2동  1.971884  0.087013         3          2         4.0
265  신정6동  1.874219 -0.069835         3          2         4.0
266  신정7동  1.372592 -0.238919         3          2         4.0
282  양평2동  1.288159  0.075627         3          2         4.0
285  역삼2동  2.162201  0.117584         3          2         4.0
300   용강동  1.880321 -0.275812         3          2         4.0
332  일원본동  1.726340 -0.070685         3          2         4.0
335  자양3동  2.156656  0.261161         3          2         4.0
342  잠실본동  3.469120  0.533123         3          2         4.0
344  장안1동  2.732260  0.204862         3          2         4.0
379   창4동  1.274819  0.457638         3          2         4.0
386  천호2동  3.017879 -0.179256         3          2         4.0
389   청담동  1.419181 -0.059300         3          2         4.0
398  풍납2동  4.563237  0.268111         3          2         4.0
       동     sum_3      교통지수  tr_index  sum_index  interquant
0   가락1동  2.530759 -0.108835         3          2         4.0
2   가락본동  2.531701  0.069935         3          2         4.0
36   구산동  2.058141 -0.216998         3          2         4.0
39  구의3동  3.999752  0.021028         3          2         4.0
77  도곡2동  1.875034 -0.390075         3          2         4.0

In [215]:
group2=grouped.get_group(('1','2','3','4'))
#파일 저장
group2.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/group2.xlsx")

KeyError: ('1', '2', '3', '4')

In [115]:

suit_filter=dfsuit.filter(lambda x: x.interg == 1 )
display(suit_filter)

TypeError: 'function' object is not iterable

In [ ]:
dfsuit['inter']=dfsuit['t'].apply(med_sum)

In [ ]:
#교차1
dfinter['interquant']=dfinter[['sum_index','tr_index']].apply(inter_g)

In [ ]:
#교차2
dfinter['interquant']=dfinter['sum_index'].apply(inter_g, t=dfsuit['tr_index'])
#df_inter = dfsuit.apply(lambda row:pd.Series([row['column_1'], row['column_2']], index=['column_1', 'column_2']),axis = 1)

#df_inter = dfsuit.apply(inter([s_sum],[s_tr]),axis=1)

In [183]:
#교차 3
dfinter['tr_index'] = list(map(inter_g,dfinter['sum_index'],dfinter['tr_index']))

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#교차 4
dfsuit.apply(inter, axis=1, x=, y='')

In [ ]:
#교차 4
def get_sublist(row, col1, col2):
    return mylist[row[col1]:row[col2]+1]
df.apply(get_sublist, axis=1, col1='col_1', col2='col_2')

In [ ]:
#jenks break